[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pincer = {ref = "improve-docs", git = "https://github.com/Endercheif/Pincer.git"}
pygments = "*"

[dev-packages]

[requires]
python_version = "3.9"
